
@{
    ViewBag.Title = "Myself";
}
<style type="text/css">
    .myclass {
        margin-left: -5%;
        padding: 0px;
    }
    .myclassIcon {
        margin-left: 25%;
    }
</style>
    <div class="list-block" style="background-color:white;margin-top:15%">
        <div class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <table class="item-inner">
                <tr>
                    <td rowspan="3" style="width:50px;height:50px"><i class="sui-icon icon-touch-user myclassIcon"></i></td>
                    <td class="item-after">your name</td>
                </tr>
                <tr>
                    <td class="item-after" style="font-size:small"><i class="sui-icon icon-tb-refund" style="margin-top:3%;color:orange"></i>可用积分：<span style="color:orange">0</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="list-block">
        <ul>
            <li class="item-content item-link myclass"  onclick="itemClick('我的福利')">
                <div class="item-media"><i class="icon icon-f7 myclassIcon"></i><i class="sui-icon icon-tb-redpacket "></i></div>
                <div class="item-inner">
                    <div class="item-title">我的福利</div>
                    <div class="item-after" style="font-size:small;color:#8e8e8e">查看可用卡券</div>
                </div>
            </li>
            <li class="item-content item-link myclass" onclick="itemClick('积分记录')">
                <div class="item-media"><i class="icon icon-f7 myclassIcon"></i><i class="sui-icon icon-tb-footprint "></i></div>
                <div class="item-inner">
                    <div class="item-title">积分记录</div>
                </div>
            </li>
            <li class="item-content item-link myclass" onclick="itemClick('积分攻略')">
                <div class="item-media"><i class="icon icon-f7 myclassIcon"></i><i class="sui-icon icon-tb-same "></i></div>
                <div class="item-inner">
                    <div class="item-title">积分攻略</div>
                </div>
            </li>
            <li class="item-content item-link myclass" onclick="itemClick('我的地址')">
                <div class="item-media"><i class="icon icon-f7 myclassIcon"></i><i class="sui-icon icon-tb-location "></i></div>
                <div class="item-inner">
                    <div class="item-title">我的地址</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-block">
        <ul>
            <li class="item-content item-link myclass" onclick="itemClick('联系客服')">
                <div class="item-media"><i class="icon icon-f7 myclassIcon"></i><i class="sui-icon icon-touch-earphone "></i></div>
                <div class="item-inner">
                    <div class="item-title">联系客服</div>
                </div>
            </li>
         </ul>
    </div>
<script type="text/javascript">
    function itemClick(_this) {
        //此方法需要用户ID
        window.location.href="/Home/Myself_Class?aa="+_this ;
    }
</script>