
@{
    ViewBag.Title = "Myself";
}
    <div class="content-block-title" style="margin-top:15%">带箭头</div>
    <div class="list-block">
        <ul>
            <li class="item-content item-link">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">我的福利</div>
                    <div class="item-after" style="font-size:small">查看可用卡券</div>
                </div>
            </li>
            <li class="item-content item-link">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">积分记录</div>
                </div>
            </li>
            <li class="item-content item-link">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">积分攻略</div>
                </div>
            </li>
            <li class="item-content item-link">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">我的地址</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-block">
        <ul>
            <li class="item-content item-link">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">联系客服</div>
                    <div class="item-after" style="font-size:small">查看可用卡券</div>
                </div>
            </li>
         </ul>
    </div>