<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link href="//g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <link rel="stylesheet" href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui-append.min.css" />
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <style type="text/css">
        .bar-tab .tab-item.active{
            color:gold;
        }
    </style>
    <script type="text/javascript">
        window.onload = chooseItem;
        function chooseItem() {
            var indexTitle = $("#indexTitle").text();
            switch (indexTitle) {
                case "积分GO":
                    $("#IndexItem").addClass("active");
                    break;
                case "游戏中心":
                    $("#GameItem").addClass("active");
                    break;
                default:
                    $("#MyselfItem").addClass("active");
                    break;
            }
        }
    </script>
</head>
<body style="height:90%;background-color:white;">
    <header class="bar bar-nav" style="float:left;position:fixed;bottom:0; left:0; width:100%">
        <a class="button button-link button-nav pull-left" href="javascript:;" onClick="javascript :history.back(-1)" data-transition='slide-out'>
            <span class="icon icon-left"></span>
        </a>
        @*标题栏*@
        <h1 class="title"><span id="indexTitle">@ViewBag.chooseTitle</span></h1>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <nav class="bar bar-tab" style="float:left;position:fixed;bottom:0; left:0; width:100%">
        <a class="tab-item external" id="IndexItem" href="~/Home/Index">
            <span class="icon icon-gift"></span>
            <span class="tab-label">积分GO</span>
        </a>
        <a class="tab-item external" id="GameItem" href="//www.4399.com">
            <span class="icon icon-computer"></span>
            <span class="tab-label">游戏中心</span>
            <span class="badge">2</span>
        </a>
        <a class="tab-item external" id="MyselfItem" href="~/Home/Myself">
            <span class="icon icon-me"></span>
            <span class="tab-label">个人中心</span>
        </a>
    </nav>
</body>

</html>
